<h1 class="mt-4">ESTOQUE <i class="fa fa-cubes"></i></h1>
<ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Tela para consulta de itens no estoque!</li>
</ol>
<div class="container">
      <div class="row">
            <div class="col-md-12">
                  <div class="alert alert-success" role="alert" *ngIf="msgSucesso">
                        {{ msgSucesso }}
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="msgErro">
                        {{ msgErro }}
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-2">
                  <button class="btn btn-warning" (click)="novoCadastro()"><i class="fa fa-plus"></i> NOVO</button>
            </div>
      </div>
      <br />
      <div class="row">
            <div class="col-md-12">
                  <table class="table table-condensed table-hover">
                        <thead>
                              <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Marca</th>
                                    <th>Qtde</th>
                                    <th>Qtde minima</th>
                                    <th>Observacoes</th>
                                    <th>Dt inclusao</th>
                                    <th></th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let item of cadastroItem">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.nome }}</td>
                                    <td>{{ item.marca }}</td>
                                    <td>{{ item.quantidade }}</td>
                                    <td>{{ item.quantidadeMinima }}</td>
                                    <td>{{ item.observacoes }}</td>
                                    <td>{{ item.dataCadastro }}</td>
                                    <td>
                                          <button class="btn btn-primary" routerLink="/cadastro-form/{{ item.id }}">
                                                <i class="fa fa-edit"></i>
                                          </button>
                                          <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#modalDelecao" (click)="prepararDelecao(item)">
                                                <i class="fa fa-trash"></i>
                                          </button>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>

      <div id="modalDelecao" class="modal fade" role="dialog">
            <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                              <h4>TEM CERTEZA?!</h4>
                        </div>
                        <div class="modal-body" *ngIf="itemSelecionado">
                              Confirmar a deleção do produto: <b>{{ itemSelecionado.nome }}</b>?
                        </div>
                        <div class="modal-footer">
                              <button class="btn btn-danger" (click)="deletarItem()" data-dismiss="modal">SIM</button>
                              <button class="btn btn-default" data-dismiss="modal">NÃO</button>
                        </div>
                  </div>
            </div>
      </div>
</div>